.header {
    font-weight: 300;
    font-size: 50px;
    border-bottom: 1px solid #d3d3d3;
}

h3 {
    font-weight: 300;
    font-size:24px;
    padding-bottom:0px;
    margin-bottom:0px;
}

p {
    opacity:.7;
    margin-top:0px;
}