/* Bootstrap CSS */
/* @import url("https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"); */
@import url("../../lib/bootstrap.min.css");

.lead {
    margin-bottom:0px;
}


.jumbotron {
    padding:1rem 1rem;
    margin-bottom:20px;
}

/* Scatter plot */
circle {
    cursor:pointer;
}
.axis-label {
    text-anchor:middle;
    font-size:10px;
}

#root {
    padding-top:30px;
    text-align: center;
}