/* Bootstrap CSS */
/* @import url("https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"); */
@import url("../../lib/bootstrap.min.css");

.complete {
    text-decoration: line-through;
}

.lead {
    margin-bottom:0px;
}

p {
    margin-bottom:0px;
}


.jumbotron {
    padding:1rem 1rem;
    margin-bottom:20px;
}

.todo {
    padding:10px;
    margin:2px;
    border-radius: 5px;
}
.high {
    background:#c125084f;
}

.low {
    background:#0080004f;
}

.medium {
    background:#e8e6074f;
}