@import url("https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css");

/* Header */
.container {
    text-align: center;
}

.jumbotron {
    padding:1rem 1rem;
    margin-bottom:20px;
}

/* Controls */
.custom-select {
    width:inherit;
}

.control-wrapper {
    display: inline-block;
    margin-left:10px;
}

.control-wrapper input[type="range"]  {
    vertical-align: text-bottom;;
}

.control-container {
    border-bottom:1px solid #d3d3d3;
    margin-bottom:10px;
    padding-bottom:10px;
}

/* Buttons */ 
.btn:focus {
    box-shadow: none !important;
}

.btn-group {
    margin-left:10px;
}